<button type="@ButtonType" class="btn btn-custom mt-2">@Text</button>

<style>
  .btn-custom {
    padding: 9px 18px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: large;
    color: #FFF;
  }

    .btn-custom:hover,
    .btn-custom:active {
      background: #FFF;
      color: #000 !important;
    }
</style>

@code {
  [Parameter]
  public string ButtonType { get; set; } = "submit";
  [Parameter]
  public string Text { get; set; } = "Submit";
}
