<div class="form background rounded pb-5 pb-5">
  <h3 class="text-center text-white">Forgot Password</h3>
  <label class="text-white">Enter your username and email. An admin will contact you shortly.</label>
  <input type="text" class="form-control w-25" id="username" placeholder="Username" />
  <input type="email" class="form-control w-25 mt-2" id="email" placeholder="Email" />
  <button type="submit" class="btn btn-light mt-2">Reset</button>
</div>

<style>
  .background {
    background: rgb(97,64,194);
    background: linear-gradient(0deg, rgba(97,64,194,1) 0%, rgba(142,0,144,1) 100%);
  }
  .form {
    display: block;
    text-align: center;
  }
</style>

@code {

}
