<img src="~/favicon.ico" />
<div class="align-content-center background rounded pb-5">
  <h3 class="text-center text-white">Login</h3>
  <input type="text" class="form-control w-25" id="username" placeholder="Username" />
  <input type="password" class="form-control w-25 mt-2" id="password" placeholder="Password" />
  <button type="submit" class="btn btn-light mt-2">Login</button>
  <br />
  <a href="/authentication/forgot-password">Forgot your password?</a>
</div>

<style>
  .background {
    background: rgb(97,64,194);
    background: linear-gradient(0deg, rgba(97,64,194,1) 0%, rgba(142,0,144,1) 100%);
  }
</style>

@code {

}
