@using CRT_WebApp.Shared
@inject ISubGroupService SubGroupService

    <h4><u>@subGroup.SubGroupTitle  <b>Sub Total:</b> $@subGroup.SubTotal.ToString()</u></h4>
        <table style="width: 100%; border-collapse: collapse;">
           
                <tr >
                    <th scope="col">Description</th>
                    <th scope="col">Number of Units</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Total</th>
                </tr>
           
            
                @foreach (var item in subGroup.ListOfItems)
                {
                    <tr >
                        <td>@item.Description</td>
                        <td>@item.NumberOfUnitsWithMetric()</td>
                        <td>$@item.GetFormattedRate()</td>
                        <td>$@item.GetFormattedTotalPrice()</td>
                    </tr>
                }
            
        </table>
@code {
    [Parameter]
    public SubGroupModel subGroup { get; set; }
  
}
