@using CRT_WebApp.Shared
@inject ISubGroupService SubGroupService

<h4>
    <label>@subGroup.SubGroupTitle — </label>
    <label style="color:blueviolet">Sub Total: </label>
    <label>$@subGroup.SubTotal.ToString() </label>
</h4>
        <table style="width: 100%; border-collapse: collapse;  text-align:left">
            <thead>
                <tr style="padding: 10px;">
                    <th>Description</th>
                    <th>Number of Units</th>
                    <th>Rate</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in subGroup.ListOfItems)
                {
                    <tr style="padding: 10px;">
                        <td style="width:25%">@item.Description</td>
                        <td style="width:25%">@item.NumberOfUnitsWithMetric()</td>
                        <td style="width:25%">$@item.GetFormattedRate()</td>
                        <td style="width:25%">$@item.GetFormattedTotalPrice()</td>
                    </tr>
                }
            </tbody>
        </table>
@code {
    [Parameter]
    public SubGroupModel subGroup { get; set; }
}
