@inject IQuoteService QuoteService
<div class="container">
    <div class="row">
        <div class="table-title">
            <h2>Quote <b>Details</b></h2>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Quote Name</th>
                    <th>Creation Date</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in QuoteService.Quotes)
                {
                    <tr>
                        <td>@item.QuoteTitle</td>
                        <td>@item.QuoteDate</td>
                        <td>$@item.Total</td>
                        <td>
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <button type="button" class="btn btn-warning btn-sm">
                                        Edit
                                    </button>
                                </li>
                                <AuthorizeView Roles="Admin">
                                    <li class="list-inline-item">
                                        <button type="button" class="btn btn-danger btn-sm">
                                            Remove
                                        </button>
                                    </li>
                                </AuthorizeView>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>New Quote</button>
    </div>
</div>
@code {

    protected override void OnInitialized()
    {
        QuoteService.OnChange += StateHasChanged;
        QuoteService.LoadAllQuotes();
    }


    public void Dispose()
    {
        QuoteService.OnChange -= StateHasChanged;
    }
}
