@page "/"
@inject IQuoteService QuoteService
@using CRT_WebApp.Shared

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="createQuote">Click Here</button>
<button @onclick="getQuotes">Click Here to load</button>


@code{

    //TODO we need to implement a service that makes the http requests to hide it!
    QuoteModel quote = new QuoteModel();
    List<QuoteModel> allQuotes;

    async Task createQuote()
    {
        quote.Id = 4;
        quote.QuoteUser = "JP";
        quote.QuoteTitle = "Testing update";
        quote.QuoteDate = DateTime.Now;
        quote.IsDeleted = false;
        quote.Total = 69.00;

        await QuoteService.AddQuote(quote);
    }

    async Task getQuotes()
    {
        allQuotes = await QuoteService.GetAllQuotes();

        foreach (QuoteModel quote in allQuotes)
        {
            Console.WriteLine(quote.QuoteDate);
        }
    }
}
