@using CRT_WebApp.Shared
@inject ISubGroupService SubGroupService
@implements IDisposable;
<div style="width: 200%">
    <Accordion Title=@subGroup.SubGroupTitle Value=@subGroup.SubTotal.ToString()>

        <button type="button" style="margin:2px" class="btn btn-danger btn-sm" @onclick="() => RemoveSubGroup(subGroup)">
            Remove Sub-Group
        </button>

        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Number of Units</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in subGroup.ListOfItems)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@item.NumberOfUnitsWithMetric()</td>
                        <td>
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <button type="button" class="btn btn-warning btn-sm">
                                        Edit
                                    </button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Accordion>
</div>
@code {
    [Parameter]
    public SubGroupModel subGroup { get; set; }

    public void Dispose()
    {

    }

    public void RemoveSubGroup(SubGroupModel subGroup)
    {
        SubGroupService.RemoveSubGroupFromList(subGroup);
    }
}
