<div class="border-primary align-content-center">
    <div class="collapsable">
        <div class="row " @onclick="@Toggle">
            @if (Collapsed)
            {
                <span class="oi oi-chevron-right mr-1"></span>
            }
            else
            {
                <span class="oi oi-chevron-bottom mr-1"></span>
            }
            @Title
            @if (!string.IsNullOrEmpty(Value))
            {
                <span class=" float-right">Total $@Value</span>
                @*<div class="value">
                    <span class=" float-right">Total $@Value</span>
                </div>*@
            }
        </div>

    </div>
</div>

 
@if (!Collapsed)
{
    <div class="collapsable-panel">
        @ChildContent
    </div>
}
 
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Value { get; set; }
 
    void Toggle()
    {
        Collapsed = !Collapsed;
    }
}
