<div class="collapsable">
    <div class="card " @onclick="@Toggle">
        <div class="card-header">
            @if (Collapsed)
            {
                <span class="oi oi-chevron-right mr-1"></span>
            }
            else
            {
                <span class="oi oi-chevron-bottom mr-1"></span>
            }
            @Title
            @if (!string.IsNullOrEmpty(Value))
            {
                <span class="float-right">Total $@Value</span>

            }
        </div>

    </div>

</div>


 
@if (!Collapsed)
{

    <div class="card-body">
        @ChildContent
    </div>
}
 
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Value { get; set; }
 
    void Toggle()
    {
        Collapsed = !Collapsed;
    }
}
