@inject IItemService ItemService
@using CRT_WebApp.Shared
@implements IDisposable;

@*<button class="btn-secondary" @onclick="addBanana" style="margin:5px;">Add banana</button>*@

<div class="container my-4">

    <label>Select Assembly Item:</label>
    <input type="text" list="itemList"/>
    <datalist id="itemList" @onchange="ItemSelected">
        @for (var i = 0; i < ItemService.Items.Count; i++)
        {
            <option value = "@ItemService.Items[i].Description)"/>
        }
    </datalist>

</div>



@code {
    //---------------------------------------------------------------------------------------------------------//
    protected override void OnInitialized()
    {
        ItemService.OnChange += StateHasChanged;
        LoadItems();
    }
    //---------------------------------------------------------------------------------------------------------//
    public void Dispose()
    {
        ItemService.OnChange -= StateHasChanged;
    }
    //---------------------------------------------------------------------------------------------------------//
    public void addItem()
    {
        ItemModel newItem = new ItemModel { Description = "Banana" };
        ItemService.AddItem(newItem);
    }
    //---------------------------------------------------------------------------------------------------------//
    public void LoadItems()
    {
        ItemService.LoadItems();
    }

    void ItemSelected(ChangeEventArgs e)
    {
        
    }

    //-------------------------------------...ooo000 END OF CODE 000ooo...-------------------------------------//
}
